<ng-container *ngIf="!loading">
    <mat-toolbar color="primary">
        <h2>{{quiz.name}}</h2>
        <span *ngIf="!timerLoading">{{countdown | async | clocktime}}</span>
    </mat-toolbar>

    <div class="container question-wrapper">
        <main class="question mt-4" *ngIf="!questionLoading">
            <h2>{{currentQuestionIndex + 1}}. {{currentQuestion.body}}</h2>
            <mat-selection-list *ngIf="currentQuestion.correctAnswer.length > 1; else singleSelection" color="primary" #multipleAnswers>
                <mat-list-option *ngFor="let q of currentQuestion.possibleAnswers; let index=index" [value]="index">
                    {{index + 1}}. {{q}}
                </mat-list-option>
            </mat-selection-list>

            <ng-template #singleSelection>
                <mat-radio-group color="primary">
                    <mat-radio-button class="d-block py-3" *ngFor="let q of currentQuestion.possibleAnswers; let index=index" [value]="index">{{index + 1}}. {{q}}</mat-radio-button>
                </mat-radio-group>
            </ng-template>

            <footer class="actions d-flex justify-content-end py-2">
                <button *ngIf="previousQuestionIndex > -1" mat-raised-button color="primary" class="mx-2" (click)="previous()">Previous</button>
                <button *ngIf="currentQuestionIndex < quiz.questions.length - 1" mat-raised-button color="primary" class="mx-2" (click)="next()">Next</button>
                <button *ngIf="currentQuestionIndex === quiz.questions.length - 1" mat-raised-button color="primary" (click)="next()">Submit</button>
            </footer>
        </main>
    </div>

    <footer class="text-center">
        <button mat-stroked-button color="warn" style="border: 1px solid red" (click)="leaveQuiz(leaveConfirmation)">Leave Quiz</button>
    </footer>

    <ng-template #leaveConfirmation>
        <div class="container">
            <h2 mat-dialog-header>Leave Quiz?</h2>
            <p>Are you sure you want to leave?</p>

            <div class="text-center pt-4 pb-2">
                <button class="mx-2" mat-raised-button mat-dialog-close routerLink="/quiz/list" color="warn">Yes</button>
                <button class="mx-2" mat-raised-button mat-dialog-close color="primary">No</button>
            </div>
        </div>
    </ng-template>
</ng-container>

