<div class="d-flex justify-content-center">
    <mat-card class="m-4">
        <mat-card-header>
            <mat-card-title>Quiz Completed!</mat-card-title>
        </mat-card-header>
        <mat-card-content class="px-3">
            <p>Thank you for participating!</p>
        </mat-card-content>
        <mat-card-actions class="px-4 py-3 text-center">
            <button mat-raised-button color="primary" routerLink="/quiz/list">Return to home</button>
        </mat-card-actions>
    </mat-card>
</div>
